extends layouts/main
include mixins/videoBlock

block content
    .home-videos
        each videoItem in video
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })
            +videoBlock({
                id:videoItem.id,
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.fileUrl
            })