extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy}
    .search__videos
        each videoItem in video
            +videoBlock({
                title:videoItem.title,
                views:videoItem.views,
                videoFile:videoItem.videoFile
            })